/* pages/destination/destination.wxss */
.wenzi{
	display: flex;
	justify-content: space-between;
	padding: 0 20rpx;
	height: 88rpx;
	line-height: 88rpx;
	border: 1rpx solid #f7f6f6;
	background-color: #ffffff;
}
.wenzihuii{
	color: #b6b6b6;
}