.addresscontent{
  padding: 5rpx;
}

.addresscontent .addre_icon .title .icon{
  font-size: 40rpx;
  color: #1296db;
  margin-right: 20rpx;
}
.addresscontent .addre_icon .title{
  color: rgba(16, 16, 16, 100);
  font-size: 35rpx;
  font-weight:700
}


.addresscontent{
  .foreign{
    margin: 0 auto;
    margin-top: 50rpx;
    font-size: 28rpx;
    width: 694rpx;
    // height: 900rpx;
    box-shadow: 0rpx 4rpx 20rpx 0rpx rgba(0, 0, 0, 0.4);
    border-radius: 6rpx;
    border: 1px solid rgba(255, 255, 255, 100);
  }
  .target{
    font-size: 35rpx;
    font-weight: 700;
    padding: 60rpx 0 0 80rpx;
  }
  .select{
    margin-top: 15rpx;
    position: relative;
    .en{
      color: #e8691d;
      padding: 15rpx 0 0 120rpx;
    }
    .ads{
      margin-left:250rpx;
      width: 150rpx;
      height: 100rpx;
      padding: 5rpx;
      border-radius: 8rpx;
      background-color: rgba(217, 241, 221, 100);
      color: rgba(64, 184, 80, 100);
      font-size: 24rpx;
      text-align: center;
      border: 1px solid rgba(64, 184, 80, 100);
    }
    .icon{
      left:80rpx;
      top: 5rpx;
      color: #e8691d;
      position: absolute;
    }
   
  }
  .gather{
    display: flex;
    flex-direction: column;
    padding: 30rpx 0rpx;
    .select{
      display: flex;
      justify-content: space-between;
      margin: 30rpx 0;
      margin-right: 30rpx;
      color:#1296db;
      align-items: center;
      font-size: 30rpx;
    }
    // flex: 1;
    .import{
      display: flex;
      align-items: center;
      // flex:0.2;
      padding: 50rpx 20rpx;
      padding-left: 50rpx;
      margin: 20rpx 0;
      .title{
        width: 100rpx;
        display: flex;
        justify-content: flex-end;
      }
      input{
        flex: 1;
      }
    }
    .child{
      // display: flex;
      // align-items: center;
      .van-field{
        padding: 0 10rpx;
      }
      .title{
        // font-size: 36rpx;
        display: flex;
        align-items: center;
        padding: 0 30rpx;
        color: #1296db;
      }
    }
  }
  .submit{
    padding: 100rpx 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .submit-ti{
      text-align: center;
      width: 324rpx;
      height: 76rpx;
      border-radius: 8rpx;
      background-color:  #1296db;
      line-height: 76rpx;
      color: white;
    }
  }
}

.default{
  margin: 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40rpx 30rpx;
  border-top: solid 3rpx#1296db;
}

