// 板式1
.card{
width: 694rpx;
height: 200rpx;
line-height: 40rpx;
opacity: 0.85;
background-color: rgba(255, 255, 255, 79);
color: rgba(16, 16, 16, 100);
font-size: 28rpx;
box-shadow: 0rpx 4rpx 20rpx 0rpx rgba(0, 0, 0, 0.4);
border: 2rpx solid rgba(255, 255, 255, 100);
margin: 20rpx auto;
display: flex;
}

.child:nth-child(1){
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon{
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
    background-color:#1296db;
    font-size: 40rpx;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.child:nth-child(2){
  flex: 0.8;
  padding: 30rpx;
  box-sizing: border-box;
  .name{
    font-weight: 600;
  }
  .content{
    font-size: 24rpx;
    margin-top: 10rpx;
  }
}


// 板式2
.detail{
margin: 0 auto;
width: 694rpx;
height: 716rpx;
line-height: 40rpx;
opacity: 0.85;
border-radius: 6rpx;
background-color: rgba(255, 255, 255, 79);
color: rgba(16, 16, 16, 100);
font-size: 28rpx;
box-shadow: 0rpx 4rpx 20rpx 0rpx rgba(0, 0, 0, 0.4);
border: 2rpx solid rgba(255, 255, 255, 100);
padding: 20rpx;
box-sizing: border-box;
.childel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15rpx 0;
  view:nth-child(1){
    font-weight: 600;
  }
}
.discount{
  color: red;
  margin-right:15rpx;
  font-weight: lighter;
  font-size: 25rpx;
}
.coupon{
  font-size: 50rpx;
  color: red;
}
.text{
  box-sizing: border-box;
}

.icontitle{
  display: flex;
  align-items: center;
}

.yuan{
  color: red;
}
.disctot{
  display: flex;
  align-items: center;
  .disc{
    font-size: 24rpx;
    color: #8f8f8f;
  }
  .toyuan{
    font-weight: 600;
  }
}

}
// 底部
.footer{
  display: flex;
  height: 132rpx;
  width: 100%;
  position: fixed;
  bottom: 0;
  .foohid:nth-child(1){
    flex:0.7;
    border: 1px solid rgba(226, 226, 226, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .foohid:nth-child(2){
    flex:0.3;
    background-color: #1296db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
  }
  .van-checkbox{
    font-size: 25rpx;
    margin: 10rpx 0;
  }
}

// 弹出层
.contentxieyi{
  padding: 30rpx;
  font-size: 26rpx;
  margin: 25rpx;
  .title{
    text-align: center;
    font-weight: 600;
    font-size: 40rpx;
  }
  view{
    margin: 25rpx 0;
  }
  .shoyduan{
    text-indent: 2em;
  }

}
.btn{
  width:100% ;
  height: 200rpx;
  background-color: white;
  position: fixed;
  bottom: 0rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  .van-button{
    width: 400rpx;
  }
}
