.content{
  width: 694rpx;
  height: 358rpx;
  margin: 20rpx auto;
  padding: 20rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
  .child{
    flex: 0.5;
    display: flex;
    .son:nth-child(1){
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0.16;
      font-size: 40rpx;
      .iconone{
        width: 50rpx;
        height: 50rpx;
        background-color: #1296db;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    }
    .son:nth-child(2){
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .zison:nth-child(1){
        display: flex;
        align-items: center;
        view{
          margin-right: 15rpx;;
        }
        view:nth-child(1){
          color: #7c7c7c;
          font-size: 30rpx;
          font-weight: 700;
        }
        view:nth-child(2){
          font-size: 30rpx;
        }
        view:nth-child(3){
          font-size: 24rpx;
          color: rgba(64, 184, 80, 100);
          background-color: rgba(217, 241, 221, 100);
          border-radius: 8rpx;
          width: 62rpx;
          height: 36rpx;
          display:flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .zison:nth-child(2){
        font-size: 24rpx;
        color: #b7b8b7;
      }
    }
  }
  .child:nth-child(2){
    .son:nth-child(1){
      .iconone{
        background-color:#ffa726;
      }
    }
  }
}